@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

:root{
    --primary-green: #75BF7A;
    --text-primary: #000000;
    --bg-primary: #F9F9F9;
}
body {
    background-color: var(--bg-primary);
}
.bg-green{
    background-color: var(--primary-green) ;
    color: var(--text-primary) ;
}
.text-bg-green{
    color: var(--primary-green);
}
.navbar-brand , .navbar-nav > li > a{
    color: var(--text-primary);
}
.promotion{
    width: 150px;
    height: 150px;
}
.btn-color{
    background-color: var(--text-primary);
    color: var(--bg-primary);
}
.btn-color:hover{
    background-color: gray;
    color: var(--text-primary);
}
.card img{
    height: 250px !important;
    width: auto !important;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}

.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}